
.box1{
  width: 40%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
}

.box2{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plxg{
  display: flex;
  justify-content: space-around; 
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .plxg{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .box1{
    width: 90%;
    height: auto;
  }
  .box2{
    width: 90%;
    margin-left: 4px;
    justify-content: center;
  }
 
}
